*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #bbb !important;
}

/* Header, TOP section CSS */
h2{
    margin: 1% auto !important;
}
.top{
    padding: 15%;
    height: 90vh;
}
.cityList{
    width: 60vw !important;
    margin: auto;
}

/* Footer, Bottom section CSS */
.bottom{
    height: 10vh;
}
.copyright-text{
    text-align: center;
}


/* All cards css */
.card-container{
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    margin: 2% 1%;
    background-color: #ddd !important;
}
.dateText{
    font-size: 20px;
    margin: 5px auto;
    font-weight: 900;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid black;
}
.weatherDescription{
    font-size: 17px;
    margin: 1px auto;
    font-weight: 900;
    color: #ccc;
    font-variant: small-caps;
}
.err{
    text-align: center !important;
    background-color: white;    
    padding: 2%;
    width: 100%;
    color: #ccc;
    border-radius: 10px;
    font-weight: 700;
}
.copyright-text a{
    color: black;
}